defmodule {{web_module}}.<%= live_module %> do
  use {{web_module}}, :live_view

  def mount(_params, _session, socket) do
    {:ok, assign(socket, :page_title, "<%= page_title %>")}
  end

  def render(assigns) do
    ~H"""
    <section id="<%= dom_id %>" class="py-4">
      <.header class="mb-6">
        {@page_title}
        <:subtitle>
          Placeholder page for <%= breadcrumb %>.
        </:subtitle>
      </.header>
    </section>
    """
  end
end
